.aside{
    // border: 2px solid rgb(5, 5, 5);
    text-align-last: center;
    background-color: blanchedalmond;
    height: 80vh;
    border-radius: 30px;
    
}

// $enable-responsive-font-sizes : true;
